<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.0/css/foundation.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.4.1/mapbox-gl.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.4.1/mapbox-gl.css" />
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <style>
  	body { margin: 0; padding: 0; }
  	#map { width: 100%; };
  </style>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="grid-y" style="height: 100vh">
      <div class="cell shrink header">
        <div class="grid-x align-middle">
          <div class="cell auto">
            <h2>POW Alert Configuration Page.</h2>
          </div>
          <div class="cell shrink">
            <div class="button" style="margin: 0">Save</div>
          </div>
        </div>

      </div>
      <div class="cell shrink">
        <div class="grid-x grid-margin-x">
          <div class="cell small-4">
            <b>Current Settings</b>
          </div>
        </div>
      </div>
      <div class="cell shrink">
          <div class="grid-x align-middle align-center">
            <div class="cell auto">
              Location: {{location}}
            </div>
            <div class="cell auto">
              POW Threshold: {{snowfall_threshold}}
            </div>
            <div class="cell auto">
              Accumulation Hours: {{accumulation_period}}
            </div>
          </div>
      </div>
      <div class="cell medium-6 small-4 body">
        <div id='map' style="height: 100%">
        </div>
      </div>
      <div class="cell auto">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-12 medium-cell-block-y">
            <form action="/" method="post">
              <label>Selected Location
                  <select name="location" id='selector'>

                  </select>
                </label>
                <label>POW Alert Threshold – Snowfall Amount
                  <div class="input-group">
                    <input name="snowfall_thresh" id='threshold' class="input-group-field" type="number" value='6'>
                    <span class="input-group-label">Inches</span>
                  </div>
                </label>
                <label>POW Accumulation – Hours
                  <div class="input-group">
                    <input name="accumulation_period" id='threshold' class="input-group-field" type="number" value='6'>
                    <span class="input-group-label">Hours</span>
                  </div>
                </label>
                <p class="help-text" id="passwordHelpText">We'll show a POW alert when the sum total of snowfall exceeds the above threshold summed across this many previous hours.</p>

                <input type='submit' class="button expanded"></input>
              </form>

          </div>

        </div>
      </div>
  </div>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



</body>
<style>
  .marker {
  background-image: url({{url_for('static', filename='snowflake.png')}});
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
</style>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWNhbm5pc3RyYSIsImEiOiJLWVM2RWhJIn0.TputXxRYBUPh-vjDg6_TFA';
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    center:  [
      -119.43016815185547,
      47.447593738482304
    ], // starting position [lng, lat]
    zoom: 9 // starting zoom
  });
  jQuery.getJSON("stations", (locs) => {
    locs.forEach(function(marker, index) {
      console.log(marker)
      // create a HTML element + selector for each feature
      var el = document.createElement('div');
      el.className = 'marker';
      el.setAttribute('placename', marker.name)
      el.setAttribute('selector_label', marker.name + " (" + marker.elevation + "')");

      var selector = document.getElementById('selector')
      var option = document.createElement("option");
      option.text = marker.name + " (" + marker.elevation + "')";
      option.setAttribute('name', marker.name)
      option.setAttribute('location',
        [marker.lon, marker.lat].toString())
      selector.add(option)

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
        .setLngLat([marker.lon, marker.lat])
        .addTo(map);

      el.addEventListener('click', function(e){
        // Prevent the `map.on('click')` from being triggered
        e.stopPropagation();
        var selector = document.getElementById('selector')
        selector.value = e.toElement.getAttribute('selector_label')
        map.flyTo({
          center: [marker.lon, marker.lat],
          essential: true // this animation is considered essential with respect to prefers-reduced-motion
        });
      });
    if(index == 0){
      var selector = document.getElementById('selector')
      var selected = el.getAttribute('placename')
      selector.value = selected
      var loc = locs.filter(function(d){
        return(d.name == selected)
      })[0]
      map.jumpTo({
        center: [loc.lon, loc.lat],
        essential: true // this animation is considered essential with respect to prefers-reduced-motion
        });
    }
  });
  var selector = document.getElementById('selector')
    .addEventListener('change', function(e){
      var nameSelected = $("option:selected", this)[0].getAttribute('name');

      var loc = locs.filter(function(d){
        return(d.name == nameSelected)
      })[0]
      map.flyTo({
        center: [loc.lon, loc.lat]
      })
    });
  })
</script>
</html>
